#page {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#page h2 {
    text-align: center;
    margin: 2rem;
}

#feed-articles article {
    border-left: 4px solid #5d80ff;
    margin-right: 1rem;
    padding-left: 1rem;
}

#feed-articles .article-title {
    color: #5d80ff;
    font-weight: 300;
}

#feed-articles .article-description  {
    margin: 0;
    color: #848484;
    font-size: 1.4rem;
}

#feed-articles a {
    text-decoration: none;
    color: #5d80ff;
}

#loading {
    color: #5d80ff;
    opacity: .5;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

#loading.started {
    display: initial;
}